<button
  mat-icon-button
  color="warn"
  aria-label="Example icon button with a menu icon"
>
  <mat-icon>menu</mat-icon>
</button>
<button
  [routerLink]="'/home'"
  mat-icon-button
  color="primary"
  aria-label="Example icon button with a home icon"
>
  <mat-icon>home</mat-icon>
</button>
<button
  [routerLink]="'/register'"
  mat-stroked-button
  color="warn"
  class="register"
>
  ثبت نام
</button>
<mat-card class="example-card">
  <p class="name">Arayeshyar</p>
  <p class="hi">سلام! خوش آمدید</p>
  <!-- <p class="text">لطفا فورم ورود را کامل بکنید</p> -->
  <form [formGroup]="loginForm" class="login-form">
    <img
      src="./../../../assets/images/5fb52d5ed92c6-removebg-preview.png"
      alt=""
      class="image"
    />
    <mat-form-field class="login-full-width">
      <mat-label>شماره موبایل</mat-label>
      <input
        type="text"
        matInput
        formControlName="mobile"
        [errorStateMatcher]="matcher"
        placeholder="مثال: 09xxxxxxxx"
      />
      <mat-hint>شماره موبایل خود را وارد کنید</mat-hint>
    </mat-form-field>
    <mat-form-field class="password">
      <mat-label>رمز عبور</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        [errorStateMatcher]="matcher"
        placeholder="شامل حرف بزرگ و کوچک"
      />
      <mat-hint>رمز عبور خود را وارد کنید</mat-hint>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <button [disabled]="false" mat-raised-button color="warn" class="button">
    ورود
  </button>
</mat-card>
