<button
  mat-icon-button
  color="warn"
  aria-label="Example icon button with a menu icon"
>
  <mat-icon>menu</mat-icon>
</button>
<button
  [routerLink]="'/home'"
  mat-icon-button
  color="primary"
  aria-label="Example icon button with a home icon"
>
  <mat-icon>home</mat-icon>
</button>
<button [routerLink]="'/login'" mat-stroked-button color="warn" class="login">
  ورود
</button>
<mat-card class="example-card">
  <p class="names">Arayeshyar</p>
  <form [formGroup]="registerForm" class="login-form">
    <mat-form-field class="login-full-width">
      <mat-label>نام و نام خانوادگی</mat-label>
      <input
        type="text"
        matInput
        formControlName="title"
        [errorStateMatcher]="matcher"
        placeholder="مثال: آریا محمدی"
      />
      <mat-hint>نام و نام خانوادگی خود را وارد کنید</mat-hint>
      <mat-error *ngIf="registerForm.controls.title.hasError('required')">
       این قسمت اجباری می باشد
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-full-width">
      <mat-label>شماره موبایل</mat-label>
      <input
        type="text"
        matInput
        formControlName="mobile"
        [errorStateMatcher]="matcher"
        placeholder="مثال: 09xxxxxxxx"
      />
      <mat-hint>شماره همراه خود را وارد کنید</mat-hint>
      <mat-error *ngIf="registerForm.controls.mobile.hasError('required')">
        این قسمت اجباری می باشد
       </mat-error>
    </mat-form-field>
    <mat-form-field class="password">
      <mat-label>رمز عبور</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        [errorStateMatcher]="matcher"
      />
      <mat-hint>رمز عبور خود را وارد کنید</mat-hint>
      <mat-error *ngIf="registerForm.controls.mobile.hasError('required')">
        این قسمت اجباری می باشد
       </mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <td>
      <mat-form-field *ngIf="before==true" class="name">
        <mat-label>نام آرایشگاه</mat-label>
        <input formControlName="shoptitle" matInput />
      </mat-form-field>
    </td>
    <mat-radio-group formControlName="registerForm">
      <mat-radio-button class="example-margin" value="after">کاربر</mat-radio-button>
      <mat-radio-button class="example-margin" value="before">آرایشگاه دار</mat-radio-button>
    </mat-radio-group>
    <button
      [routerLink]="'/register'"
      mat-raised-button
      color="warn"
      class="button"
    >
      ثبت نام
    </button>
  </form>
</mat-card>
